<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />        
        <title>Login and Registration Form with HTML5 and CSS3</title>        
        <link rel="stylesheet" type="text/css" href="assets/signup_style.css" />
    </head>\

    <body class="signup">
        <form id="signup">
            <h1>Start doing cool stuff in seconds.</h1>
            <input type="email" placeholder="john.doe@email.com" required="">
            <input type="password" placeholder="Choose your password" required="">
            <input type="password" placeholder="Confirm password" required="">                  
            <button type="submit">Sign up for free!</button>    
        </form>
    </body>
</html>
